@model LacerdaContrucoes.Models.Venda

@{
    ViewData["Title"] = "Delete";
}

<h1>Apagar</h1>

<div class="alert alert-danger" role="alert">
    Você tem certeza de que quer apagar isto?
</div>
<div>
    <h4>Vendas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CadVendas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CadVendas.CadVendasId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.qtdVendas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.qtdVendas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Produto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Produto.ProdutoId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="VendaId" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-secondary">Voltar para a Lista</a>
    </form>
</div>
