@model IEnumerable<LacerdaContrucoes.Models.Compra>

@{
    ViewData["Title"] = "Index";
    var id = ViewData["idCompra"];
}

<h1>Compras</h1>

<p>
    <a asp-action="Create" asp-route-id=@id class="btn btn-primary">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Produto.ProdutoName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CadCompras)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.qtdCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.ProdutoName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CadCompras.CadComprasId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.qtdCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.ProdutoId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CompraId" class="btn btn-primary">Editar</a> 
                    <a asp-action="Details" asp-route-id="@item.CompraId" class="btn btn-secondary">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.CompraId" class="btn btn-danger">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
