@model IEnumerable<LacerdaContrucoes.Models.CadCompras>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-white text-center">Cadastro de compras</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Criar novo</a>
</p>
<table class="table text-white text-center">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.NotaDaCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDaCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fornecedor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NotaDaCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataDaCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fornecedor.FornecedorId)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.CadComprasId">Editar</a> 
                    <a asp-action="Details" class="btn btn-secondary" asp-route-id="@item.CadComprasId">Detalhes</a>
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.CadComprasId">Apagar</a>
                <a asp-controller="Compras" class="btn btn-success" asp-action="Index" asp-route-id="@item.CadComprasId">Itens</a>
            </td>
        </tr>
}
    </tbody>
</table>
