@model IEnumerable<LacerdaContrucoes.Models.CadVendas>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-white text-center">Cadastro de Vendas</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Criar novo</a>
</p>
<table class="table text-white text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NotaDaVenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDaVenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NotaDaVenda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataDaVenda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.ClienteId)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.CadVendasId">Editar</a> 
                <a asp-action="Details" class="btn btn-secondary" asp-route-id="@item.CadVendasId">Detalhes</a> 
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.CadVendasId">Apagar</a>
                <a asp-controller="Vendas" class="btn btn-success" asp-action="Index" asp-route-id="@item.CadVendasId">Produtos</a>
            </td>
        </tr>
}
    </tbody>
</table>
